@{
    ViewData["Title"] = "Joel's Film List";
}

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.FirstName</td>
                <td>@x.LastName</td>
                <td>@x.Age</td>
                <td>@x.Creeper</td>


                <td><a asp-controller="Home" asp-action="Edit" asp-route-applicationid="@x.ApplicationID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.ApplicationID">Delete</a></td>

            </tr>
        }
    </tbody>
</table>