@*This is where the inputs are populated on a table*@

@{
    ViewData["Title"] = "Joel's Film List";
}

@model List<movieForm>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>
    </thead>

    <tbody>
       @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.title</td>
                    <td>@x.year</td>
                    <td>@x.director</td>
                    <td>@x.rating</td>
                    <td>@x.edited</td>
                    <td>@x.lent</td>
                    <td>@x.notes</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-movieID="@x.movieID">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-movieID="@x.movieID">Delete</a></td>

                </tr>
            }
    </tbody>
</table>